<header>
  <div class="header-wrapper">
    <div class="header-menu">
      <a href="#"><img class="header-menu__img" src="@img/header/Logo.png" alt=""><img class="header-menu__img header-menu__img_hover" src="@img/header/logo-hover.png" alt=""></a>
      <button class="header-menu__button">Buy Now</button>
      <nav>
        <div class="header-hamburger">
            <input id="menu__toggle" type="checkbox" />
            <label class="header-hamburger__btn" for="menu__toggle">
              <span></span>
            </label>
            <ul class="header-hamburger__box">
                <li class="header-hamburger__li"><a class="header-hamburger__item" href="#">Overview</a></li>
                <li class="header-hamburger__li"><a class="header-hamburger__item" href="#">About Fork</a></li>
                <li class="header-hamburger__li"><a class="header-hamburger__item" href="#">Buying Options</a></li>
                <li class="header-hamburger__li"><a class="header-hamburger__item" href="#">Support</a></li>
            </ul>
          </div>
      </nav>
    </div>
    <div class="header-tab">
        <div class="header-tab-wrapper-top">
          <a href="#" class="header-tab-wrapper-top__link"><img class="header-tab-wrapper-top__img" src="@img/header/Logo.png" alt=""><img  class="header-tab-wrapper-top__img_hover" src="@img/header/logo-hover.png" alt=""><p>FORKIO</p></a>
          <button class="header-tab-wrapper-top__button">Buy Now</button>
        </div>
        <div  class="header-tab-wrapper-right">
          <nav>
            <ul class="header-tab-wrapper-right__navigation">
              <li><a class="header-tab-wrapper-right__item" href="#">Overview</a></li>
              <li><a class="header-tab-wrapper-right__item"  href="#">About Fork</a></li>
              <li><a class="header-tab-wrapper-right__item"  href="#">Buying Options</a></li>
              <li><a class="header-tab-wrapper-right__item"  href="#">Support</a></li>
            </ul>
          </nav>
          <button class="header-tab-wrapper-right__button">Buy Now</button>
        </div>
    </div> 
    <section class="header-image">
      <h1>Fork App</h1>
      <div class="header-image-wrapper"><p>A Real Gamechanger In The World Of Web-Development</p></div>
      <span>v. 2.8 For Mac and Windows</span>
      <button class="header-image__button">Download For Free Now</button>
    </section> 
  </div>
</header>