@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@100;400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:wght@400;700&family=Roboto:wght@100;400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
.header-wrapper{
  background-color: black;
  background-image: url("../img/header/img.png");
  background-size: cover;
  background-position: 50% 40px;
  height: 718px;
}
.header-menu{
  @include width-margin;
  height: 103px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
      &__button{
      @include button;
      border-radius: 20px;
      width: 119px;
      height: 37px;
      font-family: Montserrat;
      font-size: 15px;
      font-weight: 700;
      line-height: 15px;
      letter-spacing: 0px;
      text-align: center;
      }
      &__img_hover{
        display: none;
      }
}
.header-menu__button:hover{
  @include button-hover;
}
.header-menu a:hover .header-menu__img{
  display: none;
}
.header-menu a:hover .header-menu__img_hover{
  display: block;
  margin-bottom: 4px;
}
.header-tab{
  height: 118px;
  @include width-margin;
  &-wrapper-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    &__img_hover{
      display: none;
    }
    &__link{
      display: flex;
      align-items: center;
      font-family: Lato;
      font-size: 24px;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: 0px;
      text-align: left;
      color: $text-color;
      p{
        padding-left: 15px;
        margin-top: 30px
      }
      
    }

    &__button{
      @include button;
      width: 145px;
      height: 38px;
      background-color: $text-color;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: 0px;
      text-align: center;
      border-radius: 20px;      
    }
    
  }
  &-wrapper-right{
    display: flex;
    justify-content: center;
    &__item{
      color: $text-color; 
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: 0px;
      text-align: left;
      padding: 0 9px 0 9px; 
    }
    &__navigation{
      list-style: none;
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;        
    }
    &__button{
      @include button;
      width: 145px;
      height: 38px;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 700;
      line-height: 17px;
      letter-spacing: 0px;
      text-align: center;
      border-radius: 20px;
        
    }
  }
  
}
.header-tab-wrapper-right__item:hover{
  color: #ffffff;
}
.header-tab-wrapper-right__button:hover{
  @include button-hover;
}


.header-tab-wrapper-top__button:hover{
  @include button-hover;
}
.header-tab-wrapper-top__link:hover{
  color: white;
}
.header-tab-wrapper-top__link:hover .header-tab-wrapper-top__img{
  display: none;
}
.header-tab-wrapper-top__link:hover .header-tab-wrapper-top__img_hover{
  display: block;
}


// -------------------------burger--------------------
.header-hamburger{
    display: flex;
    justify-content: end;
    &__li{
      position: relative;
      padding-left: 30px;
      border-bottom: 1px solid #54595e;
    }
    &__item{
      font-family: Montserrat;
      font-size: 26px;
      font-weight: 400;
      line-height: 94px;
      letter-spacing: 0px;
      text-align: left;
      color: white;
      
    }
}
#menu__toggle {
    opacity: 0;
  }

  .header-hamburger__btn {
    display: flex; 
    align-items: center; 
    justify-content: end; 
    position: relative;
    width: 26px;
    cursor: pointer;
    z-index: 2;

  }
  .header-hamburger__btn > span::before{
    display: block;
    position: absolute;
    right: 0;
    border: 0;
    width: 15px;
    height: 3px;
    background-color: #ffffff;
  }
  .header-hamburger__btn > span,
  .header-hamburger__btn > span::after {
    display: block;
    position: absolute;
    border: 0;
    width: 26px;
    height: 3px;
    background-color: #ffffff;
  }
  .header-hamburger__btn > span::before {
    content: '';
    top: -8px;
  }
  .header-hamburger__btn > span::after {
    content: '';
    top: 8px;
  }

.header-hamburger__box {
    display: block;
    position: absolute;
    visibility: hidden;
    list-style: none;
    top: 102px;
    right: 0px;
    width: 293px;
    height: 378px;
    padding: 0;
    margin: 0;
    background-color: #333333;
      
  }
  .header-hamburger__item::before{
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    width: 8px;
    height: 53px;
    background-color: $text-color;
    display: none;
  }
  .header-hamburger__li:hover .header-hamburger__item{
    color: $text-color;
  }
  .header-hamburger__li:hover .header-hamburger__item::before{
    display: block;
  }

  #menu__toggle:checked ~ .header-hamburger__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .header-hamburger__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .header-hamburger__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .header-hamburger__box {
    visibility: visible;
    right: 10px;
  }
 //------------------------image------------------------------------
 .header-image{
  height: 615px;
  // background: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;

    h1{
      font-family: Montserrat;
      font-size: 48px;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: 0px;
      text-align: center;
      color: #ffffff; 
      margin: 0;  
      padding-top: 50px;   
    }
    &-wrapper{
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: center;
      color: $text-color;
      width: 298.89px;  
    }
    p{
      margin-bottom: 0;
    }
    span{
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 0px;
      text-align: center;
      color: #848E97; 
      padding-top: 15px;
      text-transform: uppercase;
    }
    &__button{
      position: absolute;
      top: 695px;
      @include button;
      width: 290px;
      height: 45px;
      border-radius: 40px;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0px;
      text-align: center;
    }
 }
.header-image__button:hover{
  @include button-hover;
  border: 2px solid $text-color;
}