@mixin width-margin{
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}
@mixin button{
    background-color: $text-color;
    color: white;
    border: 0;
}
@mixin button-hover{
    background-color: #ffffff;
    color: $text-color;
}
@mixin notebook{
    width: 1200px;
    margin: auto;
}